extends layout

block content
  br
  h1 Register
  br
  br
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input.form-control(name='name', type="text")
    #form-group
      label Email:
      input.form-control(name='email', type="text")
    #form-group
      label Username:
      input.form-control(name='username', type="text")
    #form-group
      label Password:
      textarea.form-control(name='password', type="password")
    #form-group
      label Confirm Password:
      textarea.form-control(name='conpassword', type="password")
    br
    input.btn.btn-primary(type="submit", value='Submit')